[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
notebook = "*"
keras = "*"
tensorflow = "*"
jupyterlab = "*"
requests = "*"
parsel = "*"
scrapy = "*"
"pep8" = "*"
"autopep8" = "*"

[dev-packages]

[requires]
python_version = "3.6"
